---
layout: default
bodyClass: "page-pages"
---

<div class="container pb-3 pt-6 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="service service-single">
        <h1 class="title">{{ page.title }}</h1>
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-3 pb-6">
  <div class="row">
    {% for page in site.pages %}
    <div class="col-12 mb-3" style="max-width: 37.5rem; margin: 0 auto;">
      <div class="product product-summary">
        <div class="product-content">
          <h2 class="product-title">
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          </h2>
          <p>{{ page.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
